pkgbase = containerlab-bin
	pkgdesc = containerlab enables container-based networking labs
	pkgver = 0.69.0
	pkgrel = 1
	url = https://github.com/srl-labs/containerlab
	arch = x86_64
	license = BSD
	provides = containerlab
	source = containerlab-0.69.0.tar.gz::https://github.com/srl-labs/containerlab/releases/download/v0.69.0/containerlab_0.69.0_Linux_amd64.tar.gz
	sha256sums = 7c211a38b1416f7040713f25fba1ec6172684e89a073b1720e77b4729a8a565d

pkgname = containerlab-bin
